<div class="form-label-group">
  <input
    [ngClass]="
      control && control.touched
        ? control.valid
          ? 'is-valid'
          : 'is-invalid'
        : null
    "
    [type]="type"
    (input)="onChange($event.target.value)"
    (blur)="onTouched()"
    id="{{ label }}"
    #input
    class="form-control"
    placeholder="{{ label }}"
  />

  <div
    *ngIf="control && control.status === 'PENDING'"
    class="fa fa-spinner fa-spin loader"
  ></div>

  <label for="{{ label }}">{{ label }}</label>

  <div
    class="invalid-feedback"
    *ngIf="control && control.invalid && control.touched"
  >
    <span *ngIf="control.errors?.required"> {{ label }} is required </span>
    <span *ngIf="control.errors?.pattern"> Invalid email address </span>
    <span *ngIf="control.errors?.emailExists"> Email address is in use </span>
  </div>
</div>
